.form-page {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.form-title {
  flex-basis: 100%;
}

.form-container {
  background-color: rgba(217, 217, 217, 1);
  padding: 20px;
}

.email-label,
.password-label {
  margin: 0;
  text-align: left;
  padding-left: 15px;
  font-size: small;
}

.form-control {
  padding: 5px;
  margin-bottom: 20px;
  width: 250px;
  border-radius: 3px;
  border-width: 0;
}

.form-control::placeholder {
  color: lightgray;
}

.submit-button {
  color: white;
  background-color: rgba(84, 89, 94, 1);
  padding: 7px 15px;
  border-radius: 4px;
}

.form-control:-webkit-autofill {
  box-shadow: 0 0 0 50px white inset;
}

.links {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

p.or {
  margin: 0 10px;
}

small {
  width: 110px;
}
