.search-page {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.home-title {
  flex-basis: 100%;
}

.search-container {
  background-color: rgba(217, 217, 217, 1);
  padding: 20px;
  border-radius: 5px;
}

.location-label,
.search-label {
  margin: 0;
  font-size: small;
}

.search-button {
  color: white;
  background-color: rgba(255, 0, 0, 1);
  padding: 7px 15px;
  border-radius: 4px;
  border-color: rgba(255, 0, 0, 1);
}
